services:
  - type: web
    name: laravel-sqlite-demo
    env: docker
    plan: starter
    dockerfilePath: ./Dockerfile
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: DB_CONNECTION
        value: sqlite
      - key: DB_DATABASE
        value: /var/data/sqlite/database.sqlite
    persistentDisks:
      - name: data
        mountPath: /var/data
        sizeGB: 1